p Welcome to this Pub/Sub example.

script(src='js/init.js', type='text/javascript')

input(id='chk1', type='checkbox', checked=false) |
button#btn1 Button 1
br/

input(id='chk2', type='checkbox', checked=false) |
button#btn2 Button 2
br/

input(id='chk3', type='checkbox', checked=false) |
button#btn3 Button 3
br/

input(id='chk4', type='checkbox') |
button#btn4 Button 4
br/

input(id='chk5', type='checkbox') |
button#btn5 Button 5
br/


#content
  p My initial content
  
