!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='js/caat.js', type='text/javascript')
    script(src='js/UT/PubSub.js', type='text/javascript')
    script(src='js/UT/EventBus.js', type='text/javascript')
    script(src='js/UT/SocketClient.js', type='text/javascript')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript')
        var a = "this is an example";
        
  body!=body
